body {
    font-family: 'Raleway', sans-serif;
    margin:0;
}

.first-section {
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-side {
    width: 365px;
}

.left-side h3,h4 {
    font-weight: lighter;
    margin:0;
}

.left-side h1 {
    font-weight: bold;
    margin:0;
}

.left-side p{
    font-size: .9rem;
    margin-bottom:0;
}

.links-container {
    display: flex;
    align-items: center;
    margin-top: 4em;
    justify-content: space-between;
}

.btn-primary {
    background-color: #226FFF;
    border: none;
    color: white;
    padding: 1.3em 3.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
}

.fs-link {
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color:#226FFF
}

.logos-section{
    height:100px;
    display:flex;   
    align-items: center;
    justify-content: space-evenly;
    background-color: #F2F2F2;
}

.contact-section {
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-right-side {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.contact-left-side {
    width: 365px;
}

.contact-left-side h1 {
    font-weight: bold;
    margin:0;
}

.contact-left-side p{
    font-size: .9rem;
    margin-bottom:0;
}

.box-colors {
    position: relative;
    width: 400px;
    top: 25px;
    right: 45px;
    box-shadow: 1px 2px 9px #b9b9b957;
}

.process-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    height: 50vh;
    background-color:#226FFF;
}

.process-section h1{
    font-weight:bold;
}

.process-container {
    display: flex;
    align-items: center;
    width: 650px;
}

.process-description p{
    font-size: .8rem;
    margin-bottom:40px;
}

.process-description h4{
    font-weight:bolder;
}

.process-box-1{
    height:195px;
    padding-right:30px;
    border-right: 1px solid white;
}

.process-box-2{
    height:195px;
    padding-right:30px;
    padding-left:30px;
    border-right: 1px solid white;
}

.process-box-3{
    height:195px;
    padding-right:30px;
    padding-left:30px
}

.work-right-side {
    width: 365px;
}

.work-right-side h1 {
    font-weight: bold;
    margin:0;
}

.work-right-side p{
    font-size: .9rem;
    margin-bottom:0;
}

.work-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

.footer-section {
    height:200px;
    display:flex;   
    align-items: center;
    justify-content: space-around;
    background-color: #F2F2F2;
}

.social-container {
    display:flex;
    justify-content: space-between;
}

.social-container img{
    width: 35px; 
}

.dribble{
    width: 80px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color:#FF3180;
    margin-right:30px
}

.linkedin{
    width: 80px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color:#3A78ED;
    margin-right:30px
}

.behance{
    width: 80px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color:#1A3DFF;
}


@media all and (max-width: 500px) {

    .first-section {
        height:650px;
        width:90%;
        margin-left:20px;
    }

    .left-side { 
        display:flex;
        flex-direction:column;
    }
    
    .left-side h3,h4 {
        font-weight: lighter;
        margin:0;
        font-size:1.2rem;
    }
    
    .left-side h1 {
        font-weight: bold;
        margin:0;
        font-size:2.5rem;
    }
    
    .left-side p{
        font-size: .9rem;
        margin-bottom:0;
    }

    .links-container {
        display: flex;
        align-items: flex-start;
        margin-top: 4em;
        flex-direction:column;
    }

    .btn-primary {
        background-color: #226FFF;
        border: none;
        color: white;
        padding: 1.3em 3.3em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-weight: 500;
        font-size: 1rem;
        margin-bottom:70px;
    }

    .fs-link {
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;
        text-decoration: none;
        color:#226FFF
    }

    .logos-section{
        height:400px;
        width: 100vw;
        display:flex;   
        align-items: center;
        flex-direction:column;
        justify-content: space-evenly;
        background-color: #F2F2F2;
    }



    .right-side {
      display:none;
    }
  }
